*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.notifications{
    margin: 2rem ;
}

.auth-form{
    min-height: 70vh;
    padding-top:20vh;
}

.verify-text{
    margin-top:2rem ;
}
button[type="submit"]{
    margin-top:2rem ;
}

.loading{
    height: 100vh;
    display:grid ;
    align-items: center;
    line-height:2.7em ;
}

.post{
    padding: 1em 2em ;
    margin-bottom: 2em;
}

.load-btn{
    margin:2em auto 0 1em ;
}

.add-btn{
    position:relative;
    right: 15%;
}

.close-btn-link{
    position:relative;
    right: -34% ;
    top:4%;
}

.close-btn{
    padding-bottom: 2em ;
}

.create-post-form{
    min-height:60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media screen and (min-width: 990px){
    .add-btn{
        right:23% ;
    }
}