*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.notifications{
    margin: 2rem ;
}

.auth-form{
    min-height: 70vh;
    padding-top:20vh;
}

.verify-text{
    margin-top:2rem ;
}
button[type="submit"]{
    margin-top:2rem ;
}

.loading{
       height: 100vh;
       display:grid ;
       align-items: center;
       line-height:2.7em ;
      
}

.post{
    padding: 1em 2em ;
}

.load-btn{
    margin:2em auto 0 1em ;
}

